.card {
  /* display: flex;
    flex-direction: column; */
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1/6;
  /* align-items: center; */
  width: 300px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 16px;
  background-color: white;
  align-content: space-between;
  gap: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Initial shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  /* transform: translateY(-5px); */
  transform: translateY(-5px) scale(1.05); /* Lift and enlarge */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Stronger shadow */
}

.card > img {
  width: 100%;
  height: 200px;
  border-radius: 16px;
  object-fit: cover;
}

.card-profile {
  display: flex;
  align-self: baseline;
  margin-bottom: 0px;
}

/* .card h2 {
  margin-bottom: 0px;
} */

.card h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.profile-picture-card {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
}

.bar-grey {
  background-color: #d9d9d9;
  border-radius: 20px;
  height: 10px;
  margin-bottom: 0px;
  align-self: center;
  width: 100%;
}

.progress-bar-blue {
  background-color: #49bbbd;
  height: 10px;
  width: 75%;
  border-radius: 20px;
}

.card p {
  align-self: last baseline;
  justify-self: flex-end;
  margin-bottom: 0;
  margin-top: 0;
}

.card-profile > div {
  font-weight: bold;
}

/* Tablet Screens (max-width: 768px) */
@media (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    padding: 8px;
  }

  .card > img {
    max-height: 130px;
  }

  .profile-picture-card {
    width: 32px;
    height: 32px;
  }

  .card h3 {
    font-size: 15.2px;
  }

  .card p {
    font-size: 13.6px;
  }
}

/* Mobile Screens (max-width: 400px) */
@media (max-width: 400px) {
  .card {
    max-width: 220px;
    padding: 8px;
  }

  .card > img {
    max-height: 120px;
  }

  .profile-picture-card {
    width: 30px;
    height: 30px;
  }

  .card h3 {
    font-size: 0.9rem;
  }

  .card p {
    font-size: 0.8rem;
  }
}
