/* CoursePage.css */
.course-notes-page-hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 60px;
  background: #005357;
  color: white;
  position: relative;
  margin-top: 70px;
}

.sticky-course-navbar {
  position: fixed;
  top: -80px;
  left: 0;
  width: 100%;
  background: #005357;
  color: #fbbf24;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.sticky-course-navbar.visible {
  top: 0;
}

.course-page-container {
  display: flex;
  font-family: Arial, sans-serif;
  padding-top: 60px;
}

.course-sidebar {
  width: 25%;
  padding: 40px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  position: relative;
  overflow-y: auto;
  height: 100vh;
}

.course-sidebar-hidden {
  width: 1%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  position: relative;
  border-right: 1px solid rgba(0, 83, 87, 0.1);
}

.toggle-sidebar-btn {
  background: none;
  border: none;
  color: #005357;
  font-size: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  position: absolute;
  top: 30px;
  left: 10px;
}

.toggle-sidebar-btn:hover {
  text-decoration: underline;
  background: rgba(0, 83, 87, 0.1);
}

.toggle-sidebar-btn svg {
  align-self: flex-start;
}

.course-section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.course-section-header p {
  align-content: space-evenly;
}

.lesson-info-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.lesson-header {
  /* background: #005357; */
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
  align-items: start;
  font-weight: bold;
  font-size: 24px;
}

/* .lesson-header:hover {
  background: #003d3f;
} */

.lesson-title {
  font-size: 16px;
}

.lesson-title:hover {
  background-color: #f7f7f7;
}

.lesson-detail {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: flex-start; /* Align items to the top */
  /* flex-wrap: wrap; */ /* Allow wrapping */
}

.course-active-lesson {
  background: #ffca28;
  color: black;
}

.lesson-expanded-content {
  /* background: #eef2f7; */
  padding: 10px;
  /* border-left: 4px solid #005357; */
  border-radius: 5px;
  margin-top: 5px;
}

.lesson-video,
.lesson-note {
  /*  display: flex;
  align-items: flex-start;
  gap: 10px; */
  color: #333;
  font-size: 14px;
  cursor: pointer;
  padding: 5px;
  transition: background 0.3s;
}

.lesson-note > div,
.lesson-video > div {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.active-content {
  border-left: 4px solid #005357;
}

.lesson-duration {
  margin: 0;
  font-size: 12px;
  color: #666;
  padding-left: 24px;
}

.lesson-video:hover,
.lesson-note:hover {
  background: rgba(0, 83, 87, 0.1);
  /* border-radius: 5px; */
  border-left: 4px solid #005357;
}

.course-lesson-list,
.course-quiz-list {
  list-style-type: none;
  padding-left: 0px;
}

.course-lesson-list li,
.course-quiz-list li {
  margin-bottom: 12px;
}

.course-quiz-list li {
  /*  background: #e0e0e0; */
  /* padding: 10px;
  border-radius: 5px; */
  cursor: pointer;
  transition: background 0.3s;
}

/* .course-quiz-list li:hover {
  background: #c0c0c0;
} */

.course-active-quiz {
  background: #ffca28;
  color: black;
}

.course-content {
  flex: 1;
  padding: 40px;
  /* overflow-y: auto;
  height: 100vh; */
}

.video-section {
  position: relative;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

#youtube-player {
  width: 100%;
  height: 600px; /* Set a fixed height */
  max-height: 80vh; /* Prevent too large videos on big screens */
  border-radius: 10px;
}

.video-player {
  width: 100%;
  border-radius: 10px;
}

.video-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Styling for navigation buttons */
.navigation-buttons {
  display: flex;
  justify-content: right;
  margin-bottom: 15px;
  gap: 10px;
}

.prev-btn,
.next-btn {
  background: none;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #005357;
}

.prev-btn:hover,
.next-btn:hover {
  background: rgba(0, 83, 87, 0.1);
  text-decoration: underline;
}

.video-section {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .course-sidebar {
    width: 100%;
    box-sizing: border-box;
  }
  .course-page-container {
    flex-direction: column;
  }
  .course-content {
    padding: 20px;
  }
}
