.courses-list-section {
  padding: 40px;
}

.courses-list-header {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.courses-list-header h2 {
  font-size: 24px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.card-list {
  /* margin-top: 20px; */
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  /* grid-template-rows: auto auto auto auto auto; */
  justify-content: space-between;
  gap: 36px;
  width: 1450px;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 18px 10px 18px 10px;
  /* scroll-snap-type: x mandatory; */
  /* overflow: visible; */
}

.card-list-active {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  padding-top: 6px;
}

.courses-list-header button {
  /* background-color: #24878a;
  padding: 14px;
  color: white;
  border-radius: 2px; */
  border: none;
  background-color: transparent;
  color: #49bbbd;
  margin-bottom: 0px;
  padding-bottom: 0px;
  align-self: self-end;
  font-weight: bold;
}

.card-buttons {
  margin-top: 32px;
  margin-right: 20px;
  text-align: end;
  align-content: flex-end;
}

.card-buttons button {
  background-color: #24878a;
  padding: 16px;
  color: white;
  border: none;
  border-radius: 2px;
}

.card-buttons > button:first-of-type {
  margin-right: 14px;
}

.card-buttons > button:hover {
  background-color: #49bbbd;
}

div.arrow-right {
  width: 4px;
  height: 4px;
  align-self: center;
  transform: rotate(45deg);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: #fafafa;
    display: block;
    transform-origin: 100% 0;
  }
}

div.arrow-left {
  width: 4px;
  height: 4px;
  align-self: center;
  transform: rotate(-135deg);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: #fafafa;
    display: block;
    transform-origin: 100% 0;
  }
}

/* .courses-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}*/

/* Tablet Screens (max-width: 768px) */
@media screen and (max-width: 768px) {
  .card-list {
    width: 100%;
  }

  .card-buttons button {
    padding: 14px;
  }

  /* .card-buttons {
    display: none;
  } */

  /* .card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  } */

  .card-list {
    /* display: flex;
    flex-wrap: wrap; */
    grid-template-columns: repeat(2, 1fr);
    overflow: scroll; /* Add horizontal scroll for mobile screens so that cards are scrollable with touch */
  }
}

/* Mobile Screens (max-width: 400px) */
/* @media screen and (max-width: 400px) {
  .card-buttons button {
    padding: 12px;
  }

  .card-buttons {
    margin-top: 32px;
    margin-right: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .card-list {
    grid-template-columns: 1fr;
  }
} */
