.home {
  /* background-color: #005357;
  height: 100vh;
  padding-left: 30px; */
  background-color: #005357;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  padding-left: 30px;
}

.name-center {
  margin-left: 12px;
  align-self: center;
  display: flex;
  cursor: pointer;
}

/* .main {
  padding: 20px 90px 0px 30px;
} */

.main-title {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
}

.main-title > p {
  color: white;
  font-weight: bold;
  align-content: end;
  margin-right: 70px;
}

.card-list {
  margin-top: 24px;
  /* display: flex;
    flex-wrap: nowrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto auto auto;
  justify-content: space-between;
  /*  margin-right: 70px;
  margin-left: 25px; */
  width: 1800px;
  gap: 34px;
}

.card-buttons {
  margin-top: 32px;
  margin-right: 90px;
  text-align: end;
}

.card-buttons button {
  background-color: #24878a;
  padding: 16px;
  color: white;
  border: none;
  border-radius: 2px;
}

.card-buttons > button:first-of-type {
  margin-right: 14px;
}

.card-buttons > button:hover {
  background-color: #49bbbd;
}

div.arrow-right {
  width: 4px;
  height: 4px;
  align-self: center;
  transform: rotate(45deg);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: #fafafa;
    display: block;
    transform-origin: 100% 0;
  }
}

div.arrow-left {
  width: 4px;
  height: 4px;
  align-self: center;
  transform: rotate(-135deg);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: #fafafa;
    display: block;
    transform-origin: 100% 0;
  }
}

/* Tablet Screens (max-width: 768px) */
@media screen and (max-width: 768px) {
  .main-title h1 {
    font-size: 22px;
  }

  .main-title p {
    display: none;
  }

  .card-list {
    width: 0px;
  }

  .card-buttons button {
    padding: 14px;
  }

  .card-buttons {
    margin-top: 32px;
    margin-right: 60px;
  }

  .card-list {
    gap: 24px;
  }
}

/* Mobile Screens (max-width: 400px) */
@media screen and (max-width: 400px) {
  .card-list {
    width: 0px;
  }

  .card-buttons button {
    padding: 12px;
  }

  .card-buttons {
    margin-top: 32px;
    margin-right: 60px;
  }
}
