/* Here Section */
.home-hero {
  background-color: #005357;
  /* min-height: 100vh; */
  /* width: 100%; */
  overflow-x: hidden;
  padding: 40px 40px 118px 40px;
}

/* Category Section */
.container {
  /* margin-left: 36px;
  margin-right: 36px; */
  margin: 42px;
}

.categories {
  /* text-align: center; */
  /* margin-top: 20px; */
}

.category-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 44px;
  justify-content: center;
  padding: 20px 0;
}

.category-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-icon {
  font-size: 30px;
  margin-bottom: 10px;
}

/* Banner */
.banner-container {
  background-color: #004f4f;
  color: white;
  text-align: center;
  padding: 60px;
  border-radius: 20px;
  /* max-width: 900px; */
  /* width: 88%; */
  margin: auto;
}

.banner-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.banner-description {
  font-size: 16px;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto 20px;
}

.banner-button {
  background-color: #5c8685;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.banner-button:hover {
  background-color: #4a7372;
}

/* Tablet Screens (max-width: 768px) */
@media screen and (max-width: 768px) {
  /* Hero Section */
  .home-hero h2 {
    font-size: 18px;
  }

  /* Category Section */
  .category-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Mobile Screens (max-width: 400px) */
@media screen and (max-width: 400px) {
  .category-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .category-card {
    padding: 10px;
  }

  .category-icon {
    font-size: 24px;
  }
}
