.logo-small {
  align-self: baseline;
}

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  background-color: #005357;
  color: white;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar-left {
  display: flex;
  /* width: 100%; */
  /* flex: 1; */
}

.auth-buttons {
  display: flex;
  gap: 14px;
}

.navbar-right {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  /* flex-grow: 1; */
  /*   overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none; */
  padding-right: 0px;
  /* flex: 2; */
}

.navbar-right::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}

.navbar-right .nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  align-items: center;
  margin-left: auto;
}

.nav-links::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}

.nav-links li {
  cursor: pointer;
  margin-right: 68px;
  white-space: nowrap;
}

.profile > div {
  margin-left: 12px;
  align-self: center;
  display: flex;
  cursor: pointer;
}

.login-btn {
  background-color: white;
  color: #4c8689;
  /* border: 2px solid white; */
  border-radius: 25px;
  align-self: center;
}

.register-btn {
  background: #4c8689;
  color: white;
  border-radius: 25px;
  align-self: center;
}

.navbar-right .nav-links .login-btn a {
  color: #005357;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
  cursor: pointer;
  /* align-self: baseline; */
}

.profile-picture {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  align-self: center;
}

.profile div.arrow-down {
  margin-left: 12px;
  width: 4px;
  height: 4px;
  align-self: center;
  transform: rotate(135deg);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: #fafafa;
    transition: 0.2s ease;
    display: block;
    transform-origin: 100% 0;
  }
}

.profile-dropdown-menu {
  position: absolute;
  top: 78px;
  right: 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  z-index: 1000;
}

/* Dropdown Items */
.profile-dropdown-item {
  font-size: 16px;
  color: #333333;
  padding: 8px 0;
  cursor: pointer;
}

.profile-dropdown-item:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Sign Out Button */
.profile-dropdown-signout {
  margin-top: 16px;
  width: 100%;
  padding: 10px 0;
  background-color: #005357;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-dropdown-signout:hover {
  background: #4c8689;
}

/* Mobile Menu Button */
.mobile-menu-btn {
  display: none;
  color: white;
  /* padding: 10px 15px; */
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-right: 14px;
  /* width: 100%; */
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .mobile-menu-btn {
    display: block;
  }

  /* .navbar {
    flex-direction: column;
  } */

  /* .nav-links {
    gap: 0px;
  } */

  .nav-links {
    overflow-x: auto; /* Allow horizontal scrolling */
    display: flex;
    flex-wrap: nowrap; /* Prevent items from wrapping */
  }

  .nav-links li {
    margin-right: 4px;
  }

  /* .navbar-right {
    max-width: 100%;
  } */

  /* Hide nav links on smaller screens */
  /* .navbar-right .nav-links {
    display: none; 
  }

  .profile {
    display: none;
  } */

  /* Show hamburger button on smaller screens */
  /* .hamburger {
    display: block; 
  } */
}
