/* nav {
  margin-bottom: 28px;
} */

.logo-small {
  align-self: baseline;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  background-color: #005357;
  color: white;
}

.navbar-left {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.auth-buttons {
  display: flex;
  gap: 14px;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  align-items: center;
}

.nav-links li {
  cursor: pointer;
  margin-right: 68px;
  white-space: nowrap;
}

.navbar-right {
  display: flex;
}

.navbar-right .nav-links a {
  color: #fff;
  text-decoration: none;
}

.profile > div {
  margin-left: 12px;
  align-self: center;
  display: flex;
  cursor: pointer;
}

.login-btn {
  background-color: white;
  /* border: 2px solid white; */
  border-radius: 25px;
  align-self: center;
}

.navbar-right .nav-links .login-btn a {
  color: #005357;
}

.register-btn {
  background: #4c8689;
  color: white;
  border-radius: 25px;
  align-self: center;
}

.profile-picture {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  align-self: center;
}

.profile {
  display: flex;
  /* align-self: baseline; */
}

div.arrow-down {
  margin-left: 12px;
  width: 4px;
  height: 4px;
  align-self: center;
  transform: rotate(135deg);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: #fafafa;
    transition: 0.2s ease;
    display: block;
    transform-origin: 100% 0;
  }
}

/* Right section (Sign In/Out + Hamburger) */
.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hamburger {
  display: none;
  background: none;
  color: #ffffff;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.hamburger-menu {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #ffffff;
  /* width: 100%; */
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  border-radius: 8px;

  /* top: 78px;
  right: 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  z-index: 1000; */
}

.hamburger-menu a {
  padding: 10px;
  text-decoration: none;
  color: #333333;
  width: 90%;
  /*  border-radius: 8px; */
  text-align: center;
}

.hamburger-menu a:first-of-type {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.hamburger-menu a:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.hamburger-menu a:hover {
  background-color: #007a7c;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  /* .nav-links {
    gap: 0px;
  } */

  .nav-links li {
    margin-right: 4px;
  }

  .navbar-right {
    max-width: 100%;
  }
  /* Hide nav links on smaller screens */
  /* .navbar-right .nav-links {
    display: none; 
  }

  .profile {
    display: none;
  } */

  /* Show hamburger button on smaller screens */
  /* .hamburger {
    display: block; 
  } */
}

.dropdown-menu {
  position: absolute;
  top: 78px;
  right: 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  z-index: 1000;
}

/* Dropdown Items */
.dropdown-item {
  font-size: 16px;
  color: #333333;
  padding: 8px 0;
  cursor: pointer;
}

.dropdown-item:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Sign Out Button */
.dropdown-signout {
  margin-top: 16px;
  width: 100%;
  padding: 10px 0;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-signout:hover {
  background-color: #333333;
}
