.logo-small {
  align-self: baseline;
}

.navbar {
  position: fixed;
  top: 0;
  /* left: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  /* background-color: #005357; */
  background-color: white;
  color: black;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  overflow: visible;
  border-bottom: 1px solid rgba(0, 83, 87, 0.1);
  /* transition: all 0.3s ease-in-out; */
}

/* .navbar .hidden {
  top: -60px;
} */

.navbar.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.navbar-left {
  display: flex;
  /* width: 100%; */
  /* flex: 1; */
  align-items: center;
  gap: 12px;
}

.auth-buttons {
  display: flex;
  gap: 14px;
}

.navbar-right {
  /* display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding-right: 0px;
  flex: 3; */
  float: right;
  /* justify-content: flex-end; */
}

.navbar-right::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}

.navbar-right .nav-links a {
  /* color: #fff; */
  color: black;
  text-decoration: none;
}

.nav-links li:last-child {
  margin-right: 0;
}

.navbar-right button {
  background: none;
  /* color: white; */
  color: black;
}

.navbar-right .nav-links li > div {
  display: flex;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  /* gap: 25px; */
  align-items: center;
  /*  width: 100%; */
  /* margin-left: auto; */
}

.nav-links::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}

.nav-links li {
  cursor: pointer;
  /* margin-right: 18px; */
  white-space: nowrap;
}

.nav-links li a {
  margin-right: 18px;
}

.nav-links li a:hover {
  color: #005357;
}

.nav-links li button:hover {
  background-color: rgba(0, 83, 87, 0.1);
}

.nav-links li button > span {
  display: flex;
  gap: 4px;
}

.profile > div {
  margin-left: 12px;
  align-self: center;
  display: flex;
  cursor: pointer;
}

.login-btn {
  background-color: white;
  color: #4c8689;
  /* border: 2px solid white; */
  border-radius: 25px;
  align-self: center;
}

.register-btn {
  background: #4c8689;
  color: white;
  border-radius: 25px;
  align-self: center;
}

.navbar-right .nav-links .login-btn a {
  color: #005357;
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-container:hover {
  background-color: rgba(0, 83, 87, 0.1);
}

.profile {
  display: flex;
  cursor: pointer;
  /* align-self: baseline; */
}

.profile-picture {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  align-self: center;
}

div.arrow-down {
  margin-left: 12px;
  width: 4px;
  height: 4px;
  align-self: center;
  transform: rotate(135deg);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: black;
    transition: 0.2s ease;
    display: block;
    transform-origin: 100% 0;
  }
}

div.arrow-up {
  margin-left: 12px;
  width: 4px;
  height: 4px;
  align-self: center;
  transform: rotate(315deg);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: black;
    transition: 0.2s ease;
    display: block;
    transform-origin: 100% 0;
  }
}

.profile-dropdown-menu {
  position: absolute;
  top: 82px;
  right: 50px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  z-index: 1000;
}

/* Dropdown Items */
.profile-dropdown-item {
  font-size: 16px;
  color: #333333;
  padding: 8px 0;
  cursor: pointer;
}

.profile-dropdown-item:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Sign Out Button */
.profile-dropdown-signout {
  margin-top: 16px;
  width: 100%;
  padding: 10px 0;
  background-color: #005357;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-dropdown-signout:hover {
  background: #4c8689;
}

/* Mobile Menu Button */
/* .mobile-menu-btn {
  display: none;
  color: white;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-right: 14px;
} */

/* .navbar-search {
  display: flex;
}

.navbar-search button{
  border-radius: 0px;
} */

.navbar-explore-container {
  position: relative;
}

.navbar-explore-container > button > span {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
}

.navbar-explore-container > button {
  background: none;
  border: 1px solid #005357;
}

.navbar-explore-container:hover {
  background-color: rgba(0, 83, 87, 0.1);
}

.navbar-search-container {
  display: flex;
  align-items: center;
  height: auto;
  background-color: white;
  border: 2px solid rgba(0, 83, 87, 0.1);
  border-radius: 30px;
  padding: 5px 15px;
  /*  max-width: 500px; */
  width: 400px;
}

.navbar-search-input {
  flex: 1;
  background: transparent;
  border: none;
  color: #5b6780;
  font-size: 16px;
  outline: none;
  padding: 10px;
}

.navbar-search-input::placeholder {
  color: #5b6780;
}

.navbar-search-button {
  background: transparent;
  /* border: 2px solid #fbc02d; */
  /*  border-radius: 50%; */
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
}

.navbar-search-icon {
  width: 18px;
  height: 18px;
  background-color: white;
}

.explore-dropdown {
  position: absolute;
  top: 100%; /* Position below the explore button */
  left: 0px;
  width: 250px;
  /*  width: 100vw;  */ /* Full width */
  height: calc(100vh - 50px); /* Full height minus navbar height */
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999; /* Ensure the dropdown is above other content */
  /* overflow-y: auto;
  overflow-x: visible; */
  overflow: visible;
  padding: 20px;
}

.explore-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.explore-dropdown li {
  margin-bottom: 10px;
}

.explore-dropdown a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

.explore-dropdown a:hover {
  text-decoration: underline;
}

.explore-dropdown li {
  position: relative;
  overflow: visible;
}

.scrollable-content {
  /* max-height: calc(100vh - 50px);
  overflow-y: auto;
  padding: 20px; */
}

.nested-dropdown {
  position: absolute;
  top: 0;
  left: 100%; /* Position to the right of the parent dropdown */
  width: 200px; /* Adjust width as needed */
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10000; /* Ensure the nested dropdown is above other content */
  padding: 10px;
}

.nested-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nested-dropdown li {
  margin-bottom: 10px;
}

.nested-dropdown a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.nested-dropdown a:hover {
  text-decoration: underline;
}

.page-content {
  transition: opacity 0.3s ease;
}

.page-content.faded {
  opacity: 0.5;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .mobile-menu-btn {
    display: block;
  }

  /* .navbar {
    flex-direction: column;
  } */

  /* .nav-links {
    gap: 0px;
  } */

  .navbar-left {
    flex: initial;
  }

  .nav-links {
    overflow-x: auto; /* Allow horizontal scrolling */
    display: flex;
    flex-wrap: nowrap; /* Prevent items from wrapping */
  }

  .nav-links li {
    margin-right: 4px;
  }

  /* .navbar-right {
    max-width: 100%;
  } */

  /* Hide nav links on smaller screens */
  /* .navbar-right .nav-links {
    display: none; 
  }

  .profile {
    display: none;
  } */

  /* Show hamburger button on smaller screens */
  /* .hamburger {
    display: block; 
  } */
}
