.App {
  display: flex;
  justify-content: space-evenly;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 30px auto;
  padding: 20px;
}

.auth-container {
  display: flex;
  justify-content: space-evenly;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 30px auto;
  padding: 20px;
}

.logo {
  border-radius: 25px;
}

nav {
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 10px;
}

label {
  margin-bottom: 8px;
  font-size: 14px;
  align-self: start;
}

.field {
  position: relative;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.input-container {
  position: relative;
  margin-bottom: 8px;
  display: flex;
}

.input-container > input {
  flex: 1;
}

form label:not(:nth-last-child(1)) {
  font-weight: bold;
}

a {
  text-decoration: none;
  font-size: 15px;
  color: #005357;
}

.eye-icon {
  position: absolute;
  font-size: 1.25rem;
  cursor: pointer;
  top: 0.85rem;
  right: 0.75rem;
}

.field-bottom {
  display: flex;
  justify-content: space-between;
}

input {
  border-width: 2px;
  border-color: #b3cbcb;
  border-radius: 25px;
  margin: 4px 0 10px 0;
  padding: 10px;
}

.segmented-control__item a {
  border-radius: 25px;
  color: white;
}

input[type="checkbox"] {
  accent-color: #005357;
}

.field-bottom > a {
  color: black;
}

.login-register-button {
  align-self: last baseline;
  padding: 10px;
  width: 220px;
  border-radius: 25px;
  border: 1px solid #ccc;
  background-color: #005357;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
  padding: 0;
  justify-self: left;
}

h1 {
  margin-top: 64px;
  /* margin-top: -10px; */
}

.segmented-control {
  display: flex;
  flex-direction: row;
  justify-self: center;
  width: 70%;
  /* margin: 32px; */
  margin: 18px 0 46px 0;
  padding: 6px;
  background-color: #ffc000;
  border-radius: 25px;
}

@media only screen and (max-width: 600px) {
  .segmented-control {
    width: 80%;
  }
  img {
    display: none;
  }
}

.segmented-control__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex: 1;
}

.segmented-control__input {
  position: absolute;
  visibility: hidden;
}

.segmented-control__label {
  display: block;
  padding: 6px 4px;
  font: 14px/1.5 sans-serif;
  text-align: center;
  cursor: pointer;
}

.segmented-control__input:checked + .segmented-control__label {
  background: #005357;
}

p:first-of-type {
  font-weight: 550;
  line-height: 1;
  color: #333333;
  margin-bottom: 4px;
}

p:last-of-type {
  margin-bottom: 25px;
  color: #9f9f9f;
}

.home {
  background-color: #005357;
  height: 100vh;
  padding-left: 30px;
}

.logo-small {
  align-self: baseline;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 16px;
}

.navbar-right .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-right .nav-links li {
  margin-right: 68px;
  align-self: center;
}

.navbar-right .nav-links a {
  color: #fff;
  text-decoration: none;
}

.profile-picture {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  align-self: baseline;
}

.profile {
  display: flex;
  align-self: baseline;
}

.name-center {
  margin-left: 12px;
  align-self: center;
  display: flex;
  cursor: pointer;
}

.main {
  padding: 20px 90px 0px 30px;
}

.main-title {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
}

.main-title > p {
  color: white;
  font-weight: bold;
  align-content: end;
  margin-right: 70px;
}

.card-list {
  margin-top: 24px;
  /* display: flex;
  flex-wrap: nowrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto auto auto;
  justify-content: space-between;
  margin-right: 70px;
  margin-left: 25px;
  width: 1800px;
  gap: 20px;
}

.card {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1/6;
  /* align-items: center; */
  width: 350px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white;
  align-content: space-between;
  gap: 10px;
}

.card > img {
  width: 100%;
  height: auto;
  /* margin-bottom: 10px; */
  border-radius: 20px;
}

.card-profile {
  display: flex;
  align-self: baseline;
  /* margin-bottom: 20px; */
}

.profile-picture-card {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
}

.bar-grey {
  background-color: #d9d9d9;
  border-radius: 20px;
  /*  margin-bottom: 15px; */
}

.progress-bar-blue {
  background-color: #49bbbd;
  height: 8px;
  width: 75%;
  border-radius: 20px;
}

.card > p {
  align-self: last baseline;
  justify-self: flex-end;
  margin-bottom: 0;
}

.card-buttons {
  margin-top: 28px;
  margin-right: 80px;
  text-align: end;
}

.card-buttons button {
  background-color: #24878a;
  padding: 14px;
  color: white;
  border: none;
  border-radius: 2px;
}

.card-buttons > button:first-of-type {
  margin-right: 14px;
}

.card-buttons > button:hover {
  background-color: #49bbbd;
}

div.arrow-down {
  margin-left: 12px;
  width: 4px;
  height: 4px;
  align-self: center;
  transform: rotate(135deg);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: #fafafa;
    transition: 0.2s ease;
    display: block;
    transform-origin: 100% 0;
  }
}

div.arrow-right {
  width: 4px;
  height: 4px;
  align-self: center;
  transform: rotate(45deg);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: #fafafa;
    display: block;
    transform-origin: 100% 0;
  }
}

div.arrow-left {
  width: 4px;
  height: 4px;
  align-self: center;
  transform: rotate(-135deg);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    border-width: 2px 2px 0 0;
    border-style: solid;
    border-color: #fafafa;
    display: block;
    transform-origin: 100% 0;
  }
}

/* .name-center:hover .dropdown {
  display: block;
} */

.dropdown {
  /* display: none; */
  position: absolute;
  top: 80px;
  right: 60px;
  min-width: 160px;
  margin-right: 20px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  /* z-index: 1; */
  padding: 8px;
  background-color: white;
  border-radius: 6px;
}

.dropdown a,
.dropdown button {
  /* color: black; */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown button {
  width: 90%;
  background-color: #005357;
  color: white;
  /* padding: 6px; */
  cursor: pointer;
  border-radius: 20px;
  justify-self: center;
  border: none;
  padding: 8px 15px;
}

/* .dropdown button:hover {
  background-color: #4a747f;
} */

.dropdown a {
  color: black !important;
  text-align: right;
}

.dropdown a:hover {
  opacity: 0.5 !important;
}

.footer {
  background-color: #0d4d4d;
  color: white;
  text-align: center;
  padding: 30px 20px;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 14px;
}

.footer-logo img {
  width: 100px;
  margin-bottom: 5px;
}

.footer-separator {
  width: 2px;
  height: 30px;
  background-color: white;
}

.footer-logo p {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  max-width: 120px;
  text-align: left;
  line-height: 1.4;
  color: white;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 14px;
}

.footer-subscribe p {
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.subscribe-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  margin-top: 0;
}

.subscribe-box input {
  padding: 8px;
  width: 250px;
  /* border: 0.5px solid 5c8692; */
  border: none;
  border-radius: 20px;
  outline: none;
  text-align: center;
  /* background-color: #0d4d4d; */
  /* color: white; */
}

.subscribe-box button {
  background-color: #5c8692;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.subscribe-box button:hover {
  background-color: #4a747f;
}

.footer-links {
  display: flex;
  gap: 15px;
  font-size: 14px;
  margin-bottom: 0px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-copyright {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 0.8;
}
